<a href="https://www.thehackingproject.org/" target="_blank">
    <div class="slice cta-inner bg-base-1">
        <div class="flex flex-items-xs-middle">
            <div class="flex-wrap-item">
                <div class="sct-inner ">
                    <div class="container">
                        <div class="text-center">
                            <h1 class="heading heading-3 text-normal c-base-text-1 strong-400">
                                Discover more about our tailor made peer learning solutions
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</a>