<div class="container">
        <div class="section-title section-title--style-1 text-center mb-3">
            <h3 class="section-title-inner">
                Grow faster and keep your team longer
            </h3>
        </div>
        <span class="clearfix"></span>

        <div class="fluid-paragraph fluid-paragraph-sm text-center">
            <p class="text-lg line-height-1_8 strong-300">
            Cost is nothing compared to what you will earn.</br>
        </p>
        </div>

        <span class="space-xs-xl"></span>

        <div class="row pricing-plans pricing-plans--style-3">
            <div class="col-lg-4">
                <div class="block block-pricing">
                    <div class="plan-title-wrapper no-bg">
                        <h2 class="plan-title heading heading-6 text-capitalize strong-500">Single</h2>
                        <h3 class="price-tag no-padding"><sup>$</sup>23</h3>
                    </div>

                    <div class="block-body text-center px-4">
                        <p>
                            You may use the item in work which you are creating for your own purposes or for your client restricted to a single one time installation that is not meant for reselling.
                        </p>
                    </div>

                    <div class="py-4 border-top text-center">
                        <a href="https://goo.gl/9BbH7R" class="btn btn-styled btn-base-1 text-capitalize">Purchase now</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="block block-pricing">
                    <div class="plan-title-wrapper">
                        <h2 class="plan-title heading heading-6 text-capitalize strong-500">Multiple</h2>
                        <h3 class="price-tag no-padding"><sup>$</sup>70</h3>
                    </div>

                    <div class="block-body text-center px-4">
                        <p>
                            You may use the item in work which you are creating for your own purposes or for your clients and may be extended to multiple installations.
                        </p>
                    </div>

                    <div class="py-4 border-top text-center">
                        <a href="https://goo.gl/9BbH7R" class="btn btn-styled btn-base-1 text-capitalize">Purchase now</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="block block-pricing">
                    <div class="plan-title-wrapper no-bg">
                        <h2 class="plan-title heading heading-6 text-capitalize strong-500">Extended</h2>
                        <h3 class="price-tag no-padding"><sup>$</sup>600</h3>
                    </div>

                    <div class="block-body text-center px-4">
                        <p>
                            This license must be purchased if you intend to license, sublicense, redistribute, or resell the final product only on the following circumstances.
                        </p>
                    </div>

                    <div class="py-4 border-top text-center">
                        <a href="https://goo.gl/9BbH7R" class="btn btn-styled btn-base-1 text-capitalize">Purchase now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>