<div class="pb-5 pt-4">
            <div class="delimiter--style-1">
                <div class="delimiter-title-wrapper">
                    <div class="delimiter-title">
                        <h3 class="heading heading-xs mb-0 text-uppercase strong-600">Testimonials</h3>
                    </div>
                </div>
            </div>
        </div>

        <div class="swiper-js-container mt-4">
            <div class="swiper-container" data-swiper-autoplay="true" data-swiper-items="1" data-swiper-space-between="0">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" data-swiper-autoplay="5000">
                        <div class="row cols-xs-space testimonial text-center text-sm-left justify-content-center">
                            <div class="col-md-2 col-sm-4 col-6">
                                <img class="testimonial-image" src="<%= image_path('prv/people/person-1.jpg') %>">
                            </div>
                            <div class="col-md-7 col-sm-8 col-10">
                                <div class="testimonial-content">
                                    <p class="lead line-height-1_8 testimonial-text">
                                        “As a sales person, learning code with the sales team all together was great. We get to know how to make automation with our own tools quickly. Now, our process is better and our conversion rate increased. We work together a lot better! ”
                                    </p>
                                    <h4 class="heading heading-4 strong-600 mt-4 mb-0">Bertram Ozzie</h4>
                                    <span class="heading-sm strong-300">Sales manager</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide" data-swiper-autoplay="5000">
                        <div class="row cols-xs-space testimonial text-center text-sm-left justify-content-center">
                            <div class="col-md-2 col-sm-4 col-6">
                                <img class="testimonial-image" src="<%= image_path('prv/people/person-2.jpg') %>">
                            </div>
                            <div class="col-md-7 col-sm-8 col-10">
                                <div class="testimonial-content">
                                    <p class="lead line-height-1_8 testimonial-text">
                                        "Choosing THP was the best thing I did this year. As a small startup, I want my team to be quick and easy working together. I'm also happy that some customer success interns did the training with us before joining the IT team after the session"
                                    </p>
                                    <h4 class="heading heading-4 strong-600 mt-4 mb-0">Cliff Simon</h4>
                                    <span class="heading-sm strong-300">CEO</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>