<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
          <h1>The hacking project  L'école de demain</h1>
          <p>Apprends à coder en seulement 83 jours, et GRATUITEMENT !</p>
  </head>
  <body>
        <h2>Notre méthode</h2>
        <h4>Le peer-learning</h4>
        <p>le peer learning est une méthode d’apprentissage où les élèves deviennent professeurs et doivent s’expliquer entre eux les concepts qu’ils doivent apprendre. La méthode met l'accent sur l'entraide, la communauté, et la communication. </p>
        <a href="http://thehackingproject.org/">Get Started!</a></body></br>

        <%= link_to  "Unsubscribe", unsubscribe_nl_url(@user.id, @user.unsubscribe_token) %>
  </body>
</html>

