            <div class="swiper-slide" data-swiper-autoplay="8000">
                <div class="holder-item sct-color-2 slice-xl pb-0">
                    <div class="container d-flex align-items-center">
                        <div class="row cols-xs-space cols-sm-space cols-md-space">
                            <div class="col-lg-5 text-center text-lg-left align-self-center">
                                <h2 class="heading heading-1 strong-400 animated" data-animation-in="fadeInUp" data-animation-delay="200">
                                    Subcription confirmed
                                </h1>
                                <p class="lead mt-4 animated" data-animation-in="fadeInUp" data-animation-delay="600">
                                    Your subscription is confirmed, our first newsletter will arrive every week in your emailbox.</br> In the meantime, get familiar with our unique concept here
                                </p>

                                <a href="https://www.thehackingproject.org/" class="btn btn-styled btn-base-1 btn-circle mt-4 animated" data-animation-in="fadeInUp" data-animation-delay="1200">
                                    Learn more
                                </a>
                            </div>

                            <div class="col-lg-7 ml-lg-auto align-self-end">
                                <img src="<%= image_path('slider/elements/model-m-2.png') %>" class="img-fluid img-center animated" data-animation-in="fadeIn" data-animation-delay="200">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>